html {
  height: 100%;
}

#dvht {
  height: 155px;
  clear:both;
}
.tws {
  inherit: none;
  border-radius: 10px;
  background-color: #4099FF;
  border: 1px solid #cccccc;
  padding: 8px;
  
  font-weight: bold;
  font-size: 0.6em;
  font-family: Arial;
  
  color: #333333;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;

  height: 100%;
  margin: 0;
  text-align: center;
  background: radial-gradient(white, gray);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#dvht {
  height = 900px;
}
h1 {
  font-family: Verdana;
  font-size: 14px;
  color: #444;
  text-shadow: -5px -5px 10px;
}

p {
  background-color: #33aa33;
}

.quoteButton {
  background-color: #4CAF50;
  border: b;
  width: 260px;
  color: white;
  text-shadow: 0px 0px 5px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 24px;
}

.quotey {
  font-family: 'Marck Script', cursive;
  font-size: 22px;
  width: 250px;
  text-shadow: 5px 5px 15px;
}

.grad {
  background: #c0c0c0;
  /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(circle, #c0c0c0, #FFFFFF, #111111);
  /* Safari */
  background: -o-radial-gradient(circle, #c0c0c0, #FFFFFF, #11111);
  /* Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(circle, #c0c0c0, #FFFFFF, #11111);
  /* Firefox 3.6 to 15 */
  background: radial-gradient(circle, #c0c0c0, #FFFFFF, #11111);
  /* Standard syntax */
}

 /* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: white;
}